@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Montserrat:wght@300&family=Roboto:wght@300&family=Source+Sans+Pro:wght@200;300;400&display=swap');
* {
    margin: 0;
    padding: 0;
}


/* Tags stylings */
ul {
    margin: 0;
}
li{
    list-style-type:none;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

/* COMMON STYLING STARTS HERE */
/* texts */
.text-white {
    color: #fff;
}

.text-primary-blue {
    color: #1b7dff;
}

.text-secondary-blue {
    color: #006dfe;
}

/* backgrounds */
.bg-white {
    background-color: #fff;
}

.bg-primary-blue {
    background-color: #1b7dff;
}
.bg-dark-blue-grey{
    background-color: #0e1d28;
}


/* floats */
.float-right {
    float: right;
}

.float-left {
    float: left;
}

/* clear fix */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}



/* display */
.d-inline-block {
    display: inline-block;
}



/* horizontal margins */
.h-m-auto {
    margin-left: auto;
    margin-right: auto;
}



/* containers */
.container-lg {
    width: 1200px;
}

.container-md {
    width: 1000px;
}

.container-sm {
    width: 550px;
}


/* nav-links */
.nav-link {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}



/* headings */
.heading-1 {
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    font-weight: 500;
}

.heading-2 {
    font-family: 'Lato', sans-serif;
    font-size: 35px;
    font-weight: 500;
    color: #102746
}

.heading-3 {
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: #102746;
}


/* Titles */
.title-1 {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.33;
}


/* texts */
.text-normal {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}


/* text-shadow */
.text-shadow {
    text-shadow: 1px 1px black;
}




/* button */
.btn-sm {
    padding: 15px 39px 14px;
    text-decoration: none;
}



/* Equal widths */
.equal-2 {
    width: calc((100% - 10px) / 2);
    display: inline-block;
}

.equal-3 {
    display: inline-block;
    width: calc((100% - 20px) / 3);
}


/* SEPARATE STYLINGS STARTS HERE*/


/* header */
.header {
    position: absolute;
    right: 0;
    left: 0;
    top: 56px;
    margin: 0 auto;
    width: 1000px;
}

.primary-link {
    margin-right: 60px;
}

.primary-link:last-child {
    margin-right: 0;
}

/* banner */
.banner {
    background-image: url('https://dl.dropboxusercontent.com/s/lg00vv9ryj88vn8/hero.png?dl=0');
    background-repeat: no-repeat;
    background-size: cover;
    height: 140vh;
}

.banner-container {
    position: relative;
    top: 236px;
}

.secondary-heading {
    margin-top: 22px;
}


.banner-form {
    margin-top: 60px;
}

.b-border-input {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    border: none;
    border-bottom: 2px solid #fff;
    width: 240px;
    padding: 5px 0 20px 45px;
    background: transparent;
    margin-right: 60px;
    color: #fff;
    outline: none;
}

.b-border-input::placeholder {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.33;
    color: #fff;
}

.ring {
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    border: 3px solid #fff;
    border-radius: 50%;
    bottom:20px;
}


.ring-two{
    bottom:20px;
    left:347px;
}
.search-button {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: 500;
    position: absolute;
    top: 260px;
}






/* Benefits */
.benefit-container{
    position: relative;
    top: -210px;
    box-sizing: border-box;
    box-shadow: 0 2px 20px 0 rgba(21, 24, 36, 0.16);
    padding: 93px 60px 110px 100px;
}

.benefits{
    margin-top:120px;
    font: 0;
}

.benefit{
    width:calc((100% - 140px) / 3);
    display: inline-block;
}

.benefit-1, .benefit-2{
    margin-right: 65px;
}

.benefits-heading{
    margin-top:37px
}
.benefits-paragraph{
    width:280px;
    margin-top:26px
}

.benefit-link{
    display:inline-block;
    font-family: 'Lato', sans-serif;
    margin-top: 40px;
}





/* trips */


.trip-row-1 {
    margin-top: 30px;
    font-size: 0;
}

.trip-row-2{
    margin-top: 10px;
    font-size: 0;
}

.trip-1,
.trip-2,
.trip-3,
.trip-4,
.trip-5 {
    position: relative;
}

.trip-1,.trip-3,.trip-4{
    margin-right: 10px;
}


.trip-image-1,
.trip-image-2,
.trip-image-3,
.trip-image-4,
.trip-image-5 {
    width: 100%;
    height: 350px;
    background-size: contain;
    filter: brightness(50%);
}

.trip-image-1 {
    background-image: url('https://dl.dropboxusercontent.com/s/4yua2fny6qt8vo4/image1.png?dl=0.png');
    margin-right: 10px;
}

.trip-image-2 {
    background-image: url('https://dl.dropboxusercontent.com/s/f3xnu9xyfzet4r6/image2.png?dl=0');
    margin-right: -10px;
}

.trip-image-3 {
    background-image: url('https://dl.dropboxusercontent.com/s/anvjht2c6psx25k/image3.png?dl=0');
    margin-right: 10px;
}

.trip-image-4 {
    background-image: url('https://dl.dropboxusercontent.com/s/ozyxijehc2cg83m/image4.png?dl=0');
    margin-right: 10px;
}
.trip-image-5 {
    background-image: url('https://dl.dropboxusercontent.com/s/9sep8vhhyllk6vi/image5.png?dl=0');
    margin-right: -10px;
}

.trip-text {
    position: absolute;
    bottom: 20px;
    left: 25px;
    text-shadow: 1px 1x black;
}






/* About */
.about {
    margin-top:130px;
}
.prefecture-image,.neighbourhood-image,.about-text-section {
    width: calc((100% - 70px) / 2);
    height: 350px;
}

.prefecture-image{
     background-image: url('https://dl.dropboxusercontent.com/s/6xwjbct16t7f5wc/prefecture.png?dl=0')
}
.neighbourhood-image{
    background-image: url('https://dl.dropboxusercontent.com/s/dent6n2xob7wgwy/neighbourhood.png?dl=0')

}
.about-text-section{
    box-sizing: border-box;
    padding:26px 47px 49px 33px;
}
.about-text{
    margin-top:45px;
}

.about-link{
    margin-top:58px;
}

/* neighbourhood */
.neighbourhood{
    margin-top:75px;
}






/* Places section */

.places{
    margin-top:140px;
}

.row{
    margin-top: 54px;
}

.card{
    width: calc((100% - 120px) / 3);
    display: inline-block;
    position:relative;
}

.card-one,.card-two{
    margin-right: 55px;
}

.card-img {
    background-size: cover;
    height:380px;
}

/* different cards backgrounds */
.card-img-1{
    background-image: url('https://dl.dropboxusercontent.com/s/9acg7n7hz4mst1k/cardimg1.png?dl=0');
}
.card-img-2{
    background-image: url('https://dl.dropboxusercontent.com/s/co7pyuy6l5ypq3q/cardimg2.png?dl=0');
}
.card-img-3{
    background-image: url('https://dl.dropboxusercontent.com/s/cg2kjszr1ig30hj/cardimg3.png?dl=0');
}
.card-img-4{
    background-image: url('https://dl.dropboxusercontent.com/s/08ieqpv1l939uns/cardimg4.png?dl=0');
}
.card-img-5{
    background-image: url('https://dl.dropboxusercontent.com/s/kc5cdbz8urve7a7/cardimg5.png?dl=0');
}
.card-img-6{
    background-image: url('https://dl.dropboxusercontent.com/s/5lhkhp1bfrppelt/cardimg6.png?dl=0');
}

.card-img-bottom {
    position: relative;
    top: 326px;
    padding: 16px 25px 15px;
    background-color: rgba(21, 24, 36, 0.6);
}
.card-text{
    margin-top: 45px;
    width: 370px;
}
.card-link{
    display: inline-block;
    margin-top:31px;
    font-family: 'Lato', sans-serif;
}


.card-views{
    font-family: 'Lato', sans-serif;
}


/* footer sections */
footer{
    margin-top:140px;
    position: relative;
}

.footer-image {
    background-image: url('https://dl.dropboxusercontent.com/s/rjbgix4ffhp3rdl/footer-image.png?dl=0');
    height:600px;
    background-size: cover;
    filter: brightness(50%);
}
.play-button{
    position: absolute;
    left:50%;
    top: 30%;
    transform: translate(-50%, -50%);
    width: 112px;
    height: 112px;
    background-color:white;
    border-radius:50%;
}

.play-button::after {
    content:"";
    position: absolute;
    bottom: 35px;
    left: 45px;
    width:40px;
    height:40px;
    background-color: black;
    clip-path: polygon(0 0, 0 100%, 76% 53%);
}

.footer-text {
    padding:120px 0 190px 0;
}

.column {
    width: calc((100% - 180px) / 3);
    display: inline-block;
}
.column:nth-child(1),.column:nth-child(2){
    margin-right: 80px;
}

.column > li {
    margin-top:8px;
    width:100px;
}
