@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Montserrat:wght@300&family=Roboto:wght@300&family=Source+Sans+Pro:wght@200;300;400&display=swap');

* {
    margin: 0;
    padding: 0;
}



/* Tags stylings */

ul {
    margin: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

/* COMMON STYLING STARTS HERE */
/* texts */
.text-white {
    color: #fff;
}

.text-primary-blue {
    color: #1b7dff;
}

.text-secondary-blue {
    color: #006dfe;
}

/* backgrounds */
.bg-white {
    background-color: #fff;
}

.bg-primary-blue {
    background-color: #006dfe;
}

.bg-dark-blue-grey {
    background-color: #0e1d28;
}


/* floats */
.float-right {
    float: right;
}

.float-left {
    float: left;
}

/* clear fix */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}



/* display */
.d-inline-block {
    display: inline-block;
}



/* horizontal margins */
.h-m-auto {
    margin-left: auto;
    margin-right: auto;
}



/* containers */
.container-lg {
    width: 1200px;
}

.container-md {
    width: 1000px;
}

.container-sm {
    width: 550px;
}


/* nav-links */
.nav-link {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}



/* headings */
.heading-1 {
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    font-weight: 500;
}

.heading-2 {
    font-family: 'Lato', sans-serif;
    font-size: 35px;
    font-weight: 500;
    color: #102746
}

.heading-3 {
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: #102746;
}


/* Titles */
.title-1 {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.33;
}


/* texts */
.text-normal {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}


/* text-shadow */
.text-shadow {
    text-shadow: 1px 1px black;
}




/* button */
.btn-sm {
    padding: 15px 39px 14px;
    text-decoration: none;
}



/* Equal widths */
.equal-2 {
    width: calc((100% - 10px) / 2);
    display: inline-block;
}

.equal-3 {
    display: inline-block;
    width: calc((100% - 20px) / 3);
}




.arrow-icon {
    margin-left: 26px;
    width: 34px;
    height:11px;
}

.bottom-line {
    margin-top: 7px;
    width: 250px;
    height: 2px;
    background-color: #006dfe;
}
.heart{
    margin-right: 14px;
}


/* SEPARATE STYLINGS STARTS HERE*/


/* header */
.header {
    position: absolute;
    right: 0;
    left: 0;
    top: 56px;
    margin: 0 auto;
    width: 1000px;
}
.header-logo{
    width: 80px;
    height: 30px;
}
.footer-logo{
    width: 150px;
    height: 55px;
}
.primary-link {
    margin-right: 60px;
}

.primary-link::after {
    content: '';
    display: block;
    margin-top: 5px;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width .5s;
}

.primary-link:hover::after {
    width: 100%;
}

.primary-link:last-child {
    margin-right: 0;
}

/* banner */
.banner {
    background-image: url('https://dl.dropboxusercontent.com/s/evuilwy5f2mt52n/hero.webp?dl=0');
    background-repeat: no-repeat;
    background-size: cover;
    height: 140vh;
    min-height: 900px;
}

.banner-container {
    position: relative;
    top: 25%;
    height: inherit;
}

.secondary-heading {
    margin-top: 22px;
}


.banner-form {
    margin-top: 60px;
    position: relative;
}

.b-border-input {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    border: none;
    border-bottom: 2px solid #bfc0c5;
    width: 240px;
    padding: 5px 0 20px 45px;
    background: transparent;
    margin-right: 60px;
    color: #fff;
    outline: none;
}

.b-border-input::placeholder {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.33;
    color: #fff;
}

.ring {
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    border: 3px solid #fff;
    border-radius: 50%;
    bottom: 20px;
}


.ring-two {
    bottom: 20px;
    left: 347px;
}

.search-button {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: 500;
    position: absolute;
    top: -10px;
}






/* Benefits */
.benefit-container {
    position: relative;
    bottom: 210px;
    box-sizing: border-box;
    box-shadow: 0 2px 20px 0 rgba(21, 24, 36, 0.16);
    padding: 93px 60px 110px 100px;
}

.benefits {
    margin-top: 120px;
    font: 0;
}

.benefit {
    width: calc((100% - 140px) / 3);
    display: inline-block;
}

.benefit-1,
.benefit-2 {
    margin-right: 65px;
}

.benefits-heading {
    margin-top: 37px
}

.benefits-paragraph {
    width: 280px;
    margin-top: 26px
}

.benefit-link {
    display: inline-block;
    font-family: 'Lato', sans-serif;
    margin-top: 40px;
}

.benefit-image {
    width: fit-content;
    height: fit-content;
    aspect-ratio: 1/1;
}





/* trips */


.trip-row-1 {
    margin-top: 30px;
    font-size: 0;
}

.trip-row-2 {
    margin-top: 10px;
    font-size: 0;
}

.trip-1,
.trip-2,
.trip-3,
.trip-4,
.trip-5 {
    position: relative;
}

.trip-1,
.trip-3,
.trip-4 {
    margin-right: 10px;
}


.trip-image-1,
.trip-image-2,
.trip-image-3,
.trip-image-4,
.trip-image-5 {
    width: 100%;
    height: 350px;
    background-size: contain;
    filter: brightness(50%);
}

.trip-image-1 {
    background-image: url('https://dl.dropboxusercontent.com/s/bdix3yo7u8ddhj3/image1.webp?dl=0');
    margin-right: 10px;
}

.trip-image-2 {
    background-image: url('https://dl.dropboxusercontent.com/s/rt23vyq38qdcm94/image2.webp?dl=0');
    margin-right: -10px;
}

.trip-image-3 {
    background-image: url('https://dl.dropboxusercontent.com/s/4evfjleuk4rih1q/image3.webp?dl=0');
    margin-right: 10px;
}

.trip-image-4 {
    background-image: url('https://dl.dropboxusercontent.com/s/ii7pe0blfnfl2sj/image4.webp?dl=0');
    margin-right: 10px;
}

.trip-image-5 {
    background-image: url('https://dl.dropboxusercontent.com/s/hmwftm98aea10w5/image5.webp?dl=0');
    margin-right: -10px;
}

.trip-text {
    position: absolute;
    bottom: 20px;
    left: 25px;
    text-shadow: 1px 1px black;
}
.trip-link{
    margin-top: 25px;;
}
.trip-link-image{
    width:34px;
    height:11px;
}




/* About */
.about {
    margin-top: 130px;
}

.prefecture-image,
.neighbourhood-image,
.about-text-section {
    width: calc((100% - 70px) / 2);
    height: 350px;
}

.prefecture-image {
    background-image: url('https://dl.dropboxusercontent.com/s/xjunx7z8ocpx34w/prefecture.webp?dl=0')
}

.neighbourhood-image {
    background-image: url('https://dl.dropboxusercontent.com/s/g1kkx5nn62jq3kl/neighbourhood.webp?dl=0')
}

.about-text-section {
    box-sizing: border-box;
    padding: 26px 47px 10px 33px;
}

.about-text {
    margin-top: 45px;
}

.about-link {
    margin-top: 58px;
}

/* neighbourhood */
.neighbourhood {
    margin-top: 75px;
}






/* Places section */

.places {
    margin-top: 140px;
}

.row {
    margin-top: 54px;
}

.card {
    width: calc((100% - 120px) / 3);
    display: inline-block;
    position: relative;
}

.card-one,
.card-two {
    margin-right: 55px;
}

.card-img {
    background-size: cover;
    height: 380px;
}

/* different cards backgrounds */
.card-img-1 {
    background-image: url('https://dl.dropboxusercontent.com/s/oy4m6rl5l8xlk7i/cardimg1.webp?dl=0');
}

.card-img-2 {
    background-image: url('https://dl.dropboxusercontent.com/s/o81iwbcilkwrt5k/cardimg2.webp?dl=0');
}

.card-img-3 {
    background-image: url('https://dl.dropboxusercontent.com/s/g2jq3prk20a2603/cardimg3.webp?dl=0');
}

.card-img-4 {
    background-image: url('https://dl.dropboxusercontent.com/s/3wrazqckkseekg7/cardimg4.webp?dl=0');
}

.card-img-5 {
    background-image: url('https://dl.dropboxusercontent.com/s/anei472bi087fbk/cardimg5.webp?dl=0');
}

.card-img-6 {
    background-image: url('https://dl.dropboxusercontent.com/s/d9gqrte4w7zfr49/cardimg6.webp?dl=0');
}

.card-img-bottom {
    position: relative;
    top: 326px;
    padding: 16px 25px 15px;
    background-color: rgba(21, 24, 36, 0.6);
}

.card-text {
    margin-top: 45px;
    width: 370px;
    padding:0 15px 0 0;
    box-sizing: border-box;
}

.card-link {
    display: inline-block;
    margin-top: 31px;
    font-family: 'Lato', sans-serif;
}


.card-views {
    font-family: 'Lato', sans-serif;
}


/* footer sections */
footer {
    margin-top: 140px;
    position: relative;
}

.footer-image {
    background-image: url('https://dl.dropboxusercontent.com/s/6u356h28hb8bxha/footer-image.webp?dl=0');
    height: 600px;
    background-size: cover;
    filter: brightness(50%);
}

.play-button {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    width: 112px;
    height: 112px;
    background-color: white;
    border-radius: 50%;
}

.play-button::after {
    content: "";
    position: absolute;
    bottom: 35px;
    left: 45px;
    width: 40px;
    height: 40px;
    background-color: black;
    clip-path: polygon(0 0, 0 100%, 76% 53%);
}

.footer-text {
    padding: 120px 0 190px 0;
}

.column {
    width: calc((100% - 180px) / 3);
    display: inline-block;
}

.column:nth-child(1),
.column:nth-child(2) {
    margin-right: 80px;
}

.column>li {
    margin-top: 8px;
    width: 100px;
}